{% load static %}
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm">
    <div class="container">
      <div 
        class="navbar-toggler" 
        type="button" 
        data-toggle="collapse" 
        data-target="#navbarNav" 
        aria-controls="navbarNav" 
        aria-expanded="false" 
        aria-label="Toggle navigation"
        >
      </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        {% with request.resolver_match.view_name as view_name %}            
        <ul class="nav nav-pills align-items-center ">
        <li>
          <a class="navbar-brand" href="{% url 'feed:list' %}">MedItForum</a>
        </li>
        <li>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Поиск по статьям" aria-label="Search">
          </form>
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'feed:create' %}active{% endif %}"
            href="{% url "feed:create" %}">
            Написать статью
            </a>
        </li>
          <!-- Это блок ссылок для авторизованного пользователя -->
          {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="
                {% if user.avatar %}{{ user.avatar.url }}
                {% else %}{% static 'img/user.svg' %}
                {% endif %}"
                class="rounded-circle" style="width:35px; height:35px">
                
              </a>
              <ul class="dropdown-menu">
                <span class="dropdown-item navbar-text me-2">Пользователь: <b>{{ user.username }}</b></span>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item flex-end" href="{% url "users:profile" %}">Профиль</a></li>
                <li>              
                  <form action="{% url 'logout' %}" method="post">
                  {% csrf_token %}
                   <button type="submit" class="dropdown-item">Выйти</button>
                  </form>
                </li>
              </ul>
            </li>
          <!-- Конец блока ссылок для авторизованного пользователя -->

          <!-- А здесь блок ссылок для неавторизованного пользователя -->
          {% else %}
            <li class="nav-item">
              <a class="nav-link{% if view_name == 'login' %} active {% endif %}" href="{% url 'login' %}">Войти</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link{% if view_name == 'users:registration' %} active {% endif %}" 
              href="{% url 'users:registration' %}">Регистрация</a>
            </li>       
          {% endif %}
          <!-- Конец блока ссылок для неавторизованного пользователя -->
        </ul>
        {% endwith %}
      </div>       
    </div>
  </nav>
</header>