{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Главная страница</title>
  {% tailwind_css %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static "css/main.css" %}">
</head>
<body>
  <!-- header -->
  {% include "frontend_includes/header.html" %}
  <!-- начало основного блока -->
  <main style="background-image: url('{% static "img/background.png" %}');" class="mt-4">
    <div class="container mx-auto flex flex-row gap-8">
      <!-- навигация -->
      {% include "frontend_includes/sidebar.html" %}
      <!-- блок с постами -->
      <div class="basic-3/5 bg-blue-gray-50">
        блок с постами
      </div>
      <!-- блок с тегами -->
      <div class="basic-1/5 bg-red-900">
        блок с тегами
      </div>
    </div>
  </main>
  <!-- конец основного блока -->
</body>
{% include "includes/scripts.html" %}
</html>