{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Главная страница</title>
  {% tailwind_css %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static "css/main.css" %}">
</head>
<body>
  <header>
    <div class="container mx-auto flex items-center justify-center sm:justify-between font-raleway">
    <!-- бренд -->
        <div class="flex items-center">
          <img src="{% static "img/logo_new.png" %}" alt="">
          <p class="font-semibold hidden md:block">
            <span class="text-3xl text-red-900">Med</span><span class="text-3xl text-blue-gray-900">It</span><span class="text-4xl text-blue-gray-900">Forum</span>
          </p>
        </div>
        <!-- поиск и кнопка -->
        <div class="flex gap-2 md:gap-8">
          <!-- поиск -->
          <div class="flex items-center">
            <div class="flex items-center gap-2 bg-blue-gray-50 rounded-lg sm:rounded-lg lg:rounded-l-lg pl-3 pr-2 py-2">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="stroke-denim-blue">
                <path d="M21 21L15 15M17 10C17 10.9193 16.8189 11.8295 16.4672 12.6788C16.1154 13.5281 15.5998 14.2997 14.9497 14.9497C14.2997 15.5998 13.5281 16.1154 12.6788 16.4672C11.8295 16.8189 10.9193 17 10 17C9.08075 17 8.1705 16.8189 7.32122 16.4672C6.47194 16.1154 5.70026 15.5998 5.05025 14.9497C4.40024 14.2997 3.88463 13.5281 3.53284 12.6788C3.18106 11.8295 3 10.9193 3 10C3 8.14348 3.7375 6.36301 5.05025 5.05025C6.36301 3.7375 8.14348 3 10 3C11.8565 3 13.637 3.7375 14.9497 5.05025C16.2625 6.36301 17 8.14348 17 10Z" stroke="#4B709A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <p class="md:hidden text-denim-blue">Поиск</p>
            </div>
            <input type="search" placeholder="Поиск" class="border-none bg-blue-gray-50 rounded-r-lg placeholder:text-denim-blue w-64 xl:w-96 hidden lg:block">
          </div>
          <!-- кнопка -->
          <button class="flex items-center gap-2 bg-denim-blue px-4 py-2 rounded-lg text-blue-gray-50 hover:opacity-95" data-ripple-light="true">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.232 5.23196L18.768 8.76796M16.732 3.73196C17.2009 3.26306 17.8369 2.99963 18.5 2.99963C19.1631 2.99963 19.7991 3.26306 20.268 3.73196C20.7369 4.20087 21.0003 4.83683 21.0003 5.49996C21.0003 6.16309 20.7369 6.79906 20.268 7.26796L6.5 21.036H3V17.464L16.732 3.73196Z" stroke="#ECEFF1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <p class="hidden lg:block">
              Написать статью
            </p>
          </button>
        </div> 
        <!-- уведомления и профиль -->
        <div class="flex items-center gap-4">
          <!-- колокольчик -->
          <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.75 21.25H25L23.2437 19.4938C23.0079 19.2578 22.8208 18.9778 22.6932 18.6696C22.5656 18.3614 22.4999 18.0311 22.5 17.6975V13.75C22.5002 12.1987 22.0195 10.6854 21.124 9.41861C20.2286 8.15179 18.9625 7.1937 17.5 6.67625V6.25C17.5 5.58696 17.2366 4.95107 16.7678 4.48223C16.2989 4.01339 15.663 3.75 15 3.75C14.337 3.75 13.7011 4.01339 13.2322 4.48223C12.7634 4.95107 12.5 5.58696 12.5 6.25V6.67625C9.5875 7.70625 7.5 10.485 7.5 13.75V17.6988C7.5 18.3713 7.2325 19.0175 6.75625 19.4938L5 21.25H11.25M18.75 21.25H11.25M18.75 21.25V22.5C18.75 23.4946 18.3549 24.4484 17.6517 25.1517C16.9484 25.8549 15.9946 26.25 15 26.25C14.0054 26.25 13.0516 25.8549 12.3483 25.1517C11.6451 24.4484 11.25 23.4946 11.25 22.5V21.25" stroke="#727272" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <!-- профиль -->
          <div class="flex items-center gap-2">
            <button>
              <div class="bg-gradient-to-tr from-blue-gray-900 to-blue-gray-800 rounded-full size-10 flex items-center justify-center text-2xl font-semibold text-blue-gray-50">
                А
              </div>
            </button>
            <button data-ripple-light="true" data-collapse-target="collapse">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19 9L12 16L5 9" stroke="#212121" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
          </div>
        </div>
        
    </div>
    <div
        data-collapse="collapse"
        class="block h-0 w-full basis-full overflow-hidden transition-all duration-300 ease-in-out"
      >
        <div class=" flex ml-auto">
          <div>
            <p class="block font-sans text-base font-light leading-relaxed text-inherit antialiased">
              Use our Tailwind 
            </p>
          </div>
        </div>
      </div>
  </header>
  <!-- конец хэдера -->
  <!-- начало основного блока -->
  <main style="background-image: url('{% static "img/background.png" %}');" class="h-96">
    <div class="container mx-auto">

    </div>
  </main>
</body>
{% include "includes/scripts.html" %}
</html>