{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль пользователя</title>
    {% tailwind_css %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
</head>
<body>
  <!-- header -->
  {% include "frontend_includes/header.html" %}
  <!-- начало основного блока -->
  <main style="background-image: url('{% static "img/background.png" %}');" class="mt-4">
    <div class="container mx-auto flex flex-row gap-8">
      <!-- навигация -->
      {% include "frontend_includes/sidebar.html" %}
      <!-- карточка профиля -->
      <div class="basic-3/5 bg-blue-gray-50">
        карточка профиля
      </div>
      <!-- навигация по профилю -->
      <div class="basic-1/5 bg-red-900">
        навигация по профилю
      </div>
    </div>
  </main>
  <!-- конец основного блока -->
</body>
{% include "includes/scripts.html" %}
</html>