<div class="bg-blue-gray-50 px-10 py-9 rounded-lg w-full font-raleway">
    <p class="text-3xl font-semibold text-blue-gray-900 mb-4">Статистика</p>
    <div class="flex justify-between mb-8">
        <div class="text-center w-36">
            <p class="font-inter font-semibold text-3xl text-blue-gray-900">1</p>
            <p class="text-denim-blue text-xl">Активных<br>проектов</p>
        </div>
        <div class="text-center w-36">
            <p class="font-inter font-semibold text-3xl text-blue-gray-900">14</p>
            <p class="text-denim-blue text-xl">Постов</p>
        </div>
        <div class="text-center w-36">
            <p class="font-inter font-semibold text-3xl text-blue-gray-900">156</p>
            <p class="text-denim-blue text-xl">Просмотров<br>у ваших статей</p>
        </div>
    </div>
    <div class="flex justify-between">
        <div class="text-center w-36">
            <p class="font-inter font-semibold text-3xl text-blue-gray-900">8</p>
            <p class="text-denim-blue text-xl ">Написанных<br>комментариев</p>
        </div>
        <div class="text-center w-36">
            <p class="font-inter font-semibold text-3xl text-blue-gray-900">506</p>
            <p class="text-denim-blue text-xl">Просмотренно<br>статей</p>
        </div>
        <div class="text-center w-36">
            <p class="font-inter font-semibold text-3xl text-blue-gray-900">3</p>
            <p class="text-denim-blue text-xl">Лайков</p>
        </div>
    </div>
</div>