{% extends "base.html" %}
{% load static %}
{% block title %}Профиль{% endblock title %}
{% block content %}
<h2>Профиль пользователя {{ user.username }}</h2>
<div class="row">
    <div class="col-4">
        <div class="card">
            <img src="{% if user.avatar %}{{ user.avatar.url }}
            {% else %}{% static 'img/user-solid.svg' %}
            {% endif %}" alt="avatar" class="card-img-top">
            <div class="card-body">
                <h4 class="card-title">{{ user.last_name }} {{ user.first_name }} {{ user.middle_name }}</h4>
                <p class="card-text fs-5"><b>Обо мне:</b> {{ user.bio }}</p>
            </div>
            <ul class="list-group list-group-flush fs-5">
                <li class="list-group-item"><b>Почта:</b> {{ user.email }}</li>
                <li class="list-group-item"><b>Гитхаб:</b> {{ user.github }}</li>
                <li class="list-group-item">
                    <b>Умения:</b> 
                    {% for skill in user.skill.all %}
                        <button type="button" class="btn btn-outline-primary" disabled>{{ skill.name }}</button>
                    {% endfor %}
                </li>
            </ul>
            <div class="card-footer text-body-secondary fs-6">
                Пользователь был зарегестрирован {{ user.date_joined }}
            </div>
        </div>
        <a class="btn btn-primary mt-2"  href="{% url 'password_change' %}">Изменить пароль</a>
    </div>
    <div class="col-8">
        {% for post in user_posts %}
            {% include "includes/post_card.html" %}
        {% endfor %}
    </div>
</div>

{% endblock content %}

