{% extends "base.html" %}
{% block title %}Профиль{% endblock title %}
{% block content %}
    <h1>Профиль пользователя {{ user.username }}</h>
    <hr>
    <img src="{{ user.avatar.url }}" alt="avatar" height=100 width=100>
    <h2>Почта -- {{ user.email }}</h2>
    <h2>Фамилия -- {{ user.last_name }}</h2>
    <h2>Имя -- {{ user.first_name }}</h2>
    <h2>Отчество -- {{ user.middle_name }}</h2>
    <h2>Гитхаб -- {{ user.github }}</h2>
    <h2>Умения:</h2>
    <ul>
    {% for skill in user.skill.all %}
        <li>{{ skill.name }}</li>
    {% endfor %}
    </ul>
    <h4>Пользователь был зарегестрирован {{ user.date_joined }}</h4>
{% endblock content %}

