{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {% tailwind_css %}
</head>
<body class="bg-slate-50 container mx-auto py-3">

<header class="h-16" style="position: sticky; top: 0; transition: 1s; backdrop-filter: blur(20px);">
  <div class="container flex items-center justify-between mx-auto py-3">

    <span class="text-xl font-bold text-black">ItMedForum</span>

    <div class="flex gap-4">
      <div class="flex items-center bg-white rounded-lg px-3
      border-solid border-2 border-slate-300 placeholder:text-slate-600">
        <input type="text" class="border-0 w-80" placeholder="Поиск" id="search">
        <label class="" for="search">
          <img src="{% static "img/search.svg" %}" class="" alt="">
        </label>
      </div>

      <div class="flex items-center bg-white rounded-lg py-2 px-3 
      border-solid border-2 border-slate-300 gap-4 hover:bg-sky-200">
        <button class="text-slate-600">
          Написать статью
        </button>
        <img src="{% static "img/pen.svg" %}" alt="">
      </div>
    </div>


    <div class="flex items-center gap-4">
      <button><img src="{% static "img/bell.svg" %}" alt=""></button>
      <button><img src="{% static "img/user.svg" %}" class="" alt=""></button>
    </div>
  
  </div>
</header>
<main class="mt-4">
  <div class="container mx-auto">
    <div class="flex flex-row gap-[30px]">
      
      <div class="basic-1/5 flex flex-col gap-1">
        <div class="flex items-center py-2 pr-3  rounded-lg gap-2 hover:bg-sky-200">
          <img src="{% static "img/fire.svg" %}" alt="">
          <a href="" class="text-lg font-semibold">Горячее</a>
        </div>
        <div class="flex items-center py-2 pr-3  rounded-lg gap-2 hover:bg-sky-200">
          <img src="{% static "img/rocket.svg" %}" alt="">
          <a href="" class="text-lg font-semibold">Популярное</a>
        </div>
        <div class="flex items-center py-2 pr-3  rounded-lg gap-2 hover:bg-sky-200">
          <img src="{% static "img/bookmark.svg" %}" alt="">
          <a href="" class="text-lg font-semibold">Избранное</a>
        </div>
        <div class="flex items-center py-2 pr-3  rounded-lg gap-2 hover:bg-sky-200">
          <img src="{% static "img/heart.svg" %}" alt="">
          <a href="" class="text-lg font-semibold">Нравится</a>
        </div>
        <hr>
      </div>

      <div class="basic-3/5">
        <div class="container mx-auto flex flex-col gap-4">
          <!-- карточка поста -->
          <div class="bg-slate-100 p-6 rounded-lg flex flex-col gap-2">
            
            <div class="flex items-center gap-3">
              <p class="bg-sky-300 w-10 h-10 rounded-full flex items-center justify-center
              font-medium text-xl">С</p>
              <p class="font-medium text-lg">Сашка Заебался</p>
              <p class="font-light">0 минут назад</p>
            </div>

            <div>
              <p class="font-bold text-xl">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
              <p class="font-semibold text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel nisi inventore voluptatibus ullam hic repellat architecto molestias asperiores molestiae neque. Aut impedit a aliquam, accusantium inventore itaque consectetur odio porro!</p>
            </div>
            
            <div class="bg-slate-300 rounded-lg h-48"></div>

            <div class="flex justify-between">

              <div class="flex gap-2">
              <button class="flex py-2 gap-1 px-3 bg-slate-200 rounded-lg hover:bg-slate-300">
                <img src="{% static "img/thumbs-up.svg" %}" alt="">
                <span>14</span>
              </button>
              <button class="flex py-2 gap-1 px-3 bg-slate-200 rounded-lg hover:bg-slate-300">
                <img src="{% static "img/message-dots.svg" %}" alt="">
                <span>14</span>
              </button>
              <button class="flex py-2 gap-1 px-3 bg-slate-200 rounded-lg hover:bg-slate-300">
                <img src="{% static "img/bookmark.svg" %}" alt="">
                <span>14</span>
              </button>
              </div>

              <div class="flex items-center gap-2">
                <img src="{% static "img/eye.svg" %}" alt="">
                <span>328</span>
              </div>

            </div>
          </div>
          <!-- конец карточки поста -->
          <div class="bg-slate-100 w-100 p-6 rounded-lg flex flex-col gap-2">
            
            <div class="flex items-center gap-3">
              <p class="bg-sky-300 w-10 h-10 rounded-full flex items-center justify-center
              font-medium text-xl">С</p>
              <p class="font-medium text-lg">Сашка Заебался</p>
              <p class="font-light">0 минут назад</p>
            </div>

            <div>
              <p class="font-bold text-xl">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
              <p class="font-semibold text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel nisi inventore voluptatibus ullam hic repellat architecto molestias asperiores molestiae neque. Aut impedit a aliquam, accusantium inventore itaque consectetur odio porro!</p>
            </div>
            
            <div class="bg-slate-300 rounded-lg h-48"></div>

            <div class="flex justify-between">

              <div class="flex gap-2">
              <button class="flex py-2 gap-1 px-3 bg-slate-200 rounded-lg hover:bg-slate-300">
                <img src="{% static "img/thumbs-up.svg" %}" alt="">
                <span>14</span>
              </button>
              <button class="flex py-2 gap-1 px-3 bg-slate-200 rounded-lg hover:bg-slate-300">
                <img src="{% static "img/message-dots.svg" %}" alt="">
                <span>14</span>
              </button>
              <button class="flex py-2 gap-1 px-3 bg-slate-200 rounded-lg hover:bg-slate-300">
                <img src="{% static "img/bookmark.svg" %}" alt="">
                <span>14</span>
              </button>
              </div>

              <div class="flex items-center gap-2">
                <img src="{% static "img/eye.svg" %}" alt="">
                <span>328</span>
              </div>

            </div>
          </div>
          <div class="bg-slate-100 w-100 p-6 rounded-lg flex flex-col gap-2">
            
            <div class="flex items-center gap-3">
              <p class="bg-sky-300 w-10 h-10 rounded-full flex items-center justify-center
              font-medium text-xl">С</p>
              <p class="font-medium text-lg">Сашка Заебался</p>
              <p class="font-light">0 минут назад</p>
            </div>

            <div>
              <p class="font-bold text-xl">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
              <p class="font-semibold text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel nisi inventore voluptatibus ullam hic repellat architecto molestias asperiores molestiae neque. Aut impedit a aliquam, accusantium inventore itaque consectetur odio porro!</p>
            </div>
            
            <div class="bg-slate-300 rounded-lg h-48"></div>

            <div class="flex justify-between">

              <div class="flex gap-2">
              <button class="flex py-2 gap-1 px-3 bg-slate-200 rounded-lg hover:bg-slate-300">
                <img src="{% static "img/thumbs-up.svg" %}" alt="">
                <span>14</span>
              </button>
              <button class="flex py-2 gap-1 px-3 bg-slate-200 rounded-lg hover:bg-slate-300">
                <img src="{% static "img/message-dots.svg" %}" alt="">
                <span>14</span>
              </button>
              <button class="flex py-2 gap-1 px-3 bg-slate-200 rounded-lg hover:bg-slate-300">
                <img src="{% static "img/bookmark.svg" %}" alt="">
                <span>14</span>
              </button>
              </div>

              <div class="flex items-center gap-2">
                <img src="{% static "img/eye.svg" %}" alt="">
                <span>328</span>
              </div>

            </div>
          </div>
          <div class="bg-slate-100 w-100 p-6 rounded-lg flex flex-col gap-2">
            
            <div class="flex items-center gap-3">
              <p class="bg-sky-300 w-10 h-10 rounded-full flex items-center justify-center
              font-medium text-xl">С</p>
              <p class="font-medium text-lg">Сашка Заебался</p>
              <p class="font-light">0 минут назад</p>
            </div>

            <div>
              <p class="font-bold text-xl">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
              <p class="font-semibold text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel nisi inventore voluptatibus ullam hic repellat architecto molestias asperiores molestiae neque. Aut impedit a aliquam, accusantium inventore itaque consectetur odio porro!</p>
            </div>
            
            <div class="bg-slate-300 rounded-lg h-48"></div>

            <div class="flex justify-between">

              <div class="flex gap-2">
              <button class="flex py-2 gap-1 px-3 bg-slate-200 rounded-lg hover:bg-slate-300">
                <img src="{% static "img/thumbs-up.svg" %}" alt="">
                <span>14</span>
              </button>
              <button class="flex py-2 gap-1 px-3 bg-slate-200 rounded-lg hover:bg-slate-300">
                <img src="{% static "img/message-dots.svg" %}" alt="">
                <span>14</span>
              </button>
              <button class="flex py-2 gap-1 px-3 bg-slate-200 rounded-lg hover:bg-slate-300">
                <img src="{% static "img/bookmark.svg" %}" alt="">
                <span>14</span>
              </button>
              </div>

              <div class="flex items-center gap-2">
                <img src="{% static "img/eye.svg" %}" alt="">
                <span>328</span>
              </div>

            </div>
          </div>

        </div>
      </div>

      <div class="basic-1/5 w-96">
        <div class="container mx-auto">
          
          <!-- навигация по тегам -->
          <div class="bg-slate-100 p-4 rounded-lg flex flex-col gap-2">
            <span class="font-semibold">Популярные теги <span class="font-bold">></span></span>
            <div class="flex flex-col gap-2">
              <!-- тег -->
              <div class="flex gap-1 items-center hover:bg-sky-100 hover:p-1 hover:rounded-lg">
                <button class="bg-sky-200 size-16 flex items-center justify-center rounded-lg">
                  <img src="{% static "img/design_services.svg" %}" class="size-7" alt="">
                </button>

                <div>
                  <p class="font-semibold">#дизайн</p>
                  <p class="text-sm">98 постов по этому тэгу</p>
                </div>
              </div>
              <!-- конец тега -->
              <div class="flex gap-1 items-center hover:bg-sky-100 hover:p-1 hover:rounded-lg">
                <button class="bg-purple-200 size-16 flex items-center justify-center rounded-lg">
                  <img src="{% static "img/flightsmode.svg" %}" class="size-7" alt="">
                </button>

                <div>
                  <p class="font-semibold">#python</p>
                  <p class="text-sm">98 постов по этому тэгу</p>
                </div>
              </div>
              <div class="flex gap-1 items-center hover:bg-sky-100 hover:p-1 hover:rounded-lg">
                <button class="bg-yellow-100 size-16 flex items-center justify-center rounded-lg">
                  <img src="{% static "img/lunch_dining.svg" %}" class="size-7" alt="">
                </button>

                <div>
                  <p class="font-semibold">#JS</p>
                  <p class="text-sm">98 постов по этому тэгу</p>
                </div>
              </div>
              <div class="flex gap-1 items-center hover:bg-sky-100 hover:p-1 hover:rounded-lg">
                <button class="bg-green-200 size-16 flex items-center justify-center rounded-lg">
                  <img src="{% static "img/code.svg" %}" class="size-7" alt="">
                </button>

                <div>
                  <p class="font-semibold">#дизайн</p>
                  <p class="text-sm">98 постов по этому тэгу</p>
                </div>
              </div>
            </div>

            
          </div>
          <!-- конец навигации по тегам -->

        </div>
      </div>
    </div>
  </div>
</main>

<script>
document.addEventListener('DOMContentLoaded', () => { // DOM готов к взаимодейтсвию

const onScrollHeader = () => { // объявляем основную функцию onScrollHeader

  const header = document.querySelector('.header') // находим header и записываем в константу

  let prevScroll = window.pageYOffset // узнаем на сколько была прокручена страница ранее
  let currentScroll // на сколько прокручена страница сейчас (пока нет значения)

  window.addEventListener('scroll', () => { // при прокрутке страницы

    currentScroll = window.pageYOffset // узнаем на сколько прокрутили страницу

    const headerHidden = () => header.classList.contains('header_hidden') // узнаем скрыт header или нет

    if (currentScroll > prevScroll && !headerHidden()) { // если прокручиваем страницу вниз и header не скрыт
      header.classList.add('header_hidden') // то скрываем header
    }
    if (currentScroll < prevScroll && headerHidden()) { // если прокручиваем страницу вверх и header скрыт
      header.classList.remove('header_hidden') // то отображаем header
    }

    prevScroll = currentScroll // записываем на сколько прокручена страница на данный момент

  })

}

onScrollHeader() // вызываем основную функцию onScrollHeader

});
</script>
</body>
</html>